<!DOCTYPE html>
<html>

<head>
    {% load static %} 
    <title>Plantiful</title>
    <link rel="icon" href="{% static 'img/logotipo.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="{% static 'css/estilos.css' %}" type="text/css" rel="stylesheet">
</head>
<script>
    function Mover(obj) {
        obj.style.background = "#B87247";
    }
    function MoverFuera(obj) {
        obj.style.background = "#2B7929";

    }
</script>

<script> //rutina javascript cuenta regresiva
    document.addEventListener('DOMContentLoaded', () => {
        // VARIABLES
        const DATE_TARGET = new Date('06/21/2022 0:01 AM');
        // DOM for render
        const SPAN_DAYS = document.querySelector('span#days');
        const SPAN_HOURS = document.querySelector('span#hours');
        const SPAN_MINUTES = document.querySelector('span#minutes');
        const SPAN_SECONDS = document.querySelector('span#seconds');
        // Milisegundos para los calculos
        const MILLISECONDS_OF_A_SECOND = 1000;
        const MILLISECONDS_OF_A_MINUTE = MILLISECONDS_OF_A_SECOND * 60;
        const MILLISECONDS_OF_A_HOUR = MILLISECONDS_OF_A_MINUTE * 60;
        const MILLISECONDS_OF_A_DAY = MILLISECONDS_OF_A_HOUR * 24

        //===
        // FUNCTIONS
        //===

        /**
        * Metodo que actualiza la cuenta regresiva y la muestra
        */
        function updateCountdown() {
            // Calculos
            const NOW = new Date()
            const DURATION = DATE_TARGET - NOW;
            const REMAINING_DAYS = Math.floor(DURATION / MILLISECONDS_OF_A_DAY);
            const REMAINING_HOURS = Math.floor((DURATION % MILLISECONDS_OF_A_DAY) / MILLISECONDS_OF_A_HOUR);
            const REMAINING_MINUTES = Math.floor((DURATION % MILLISECONDS_OF_A_HOUR) / MILLISECONDS_OF_A_MINUTE);
            const REMAINING_SECONDS = Math.floor((DURATION % MILLISECONDS_OF_A_MINUTE) / MILLISECONDS_OF_A_SECOND);


            // Render
            SPAN_DAYS.textContent = REMAINING_DAYS;
            SPAN_HOURS.textContent = REMAINING_HOURS;
            SPAN_MINUTES.textContent = REMAINING_MINUTES;
            SPAN_SECONDS.textContent = REMAINING_SECONDS;
        }
        updateCountdown();
        // actualiza cada segundo
        setInterval(updateCountdown, MILLISECONDS_OF_A_SECOND);
    });
</script>

<body>
    {% load static %}
      <!--Menú-->
      <nav class="navbar navbar-expand-sm navbar-light bg-light col-12">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/logo.png' %}" class="rounded-circle" style="width: auto; height: 80px; margin-left: 20px;">
        </a>
        <div class="collapse navbar-collapse" id="opciones">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'somos' %}">Quienes Somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'galeria' %}">Tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ingresar' %}">Ingresar</a>
                </li>
            </ul>
        </div> 
    </nav>

    <!--Carrusel-->

    <main role="main" class="container col-12">
           <!--Carrusel-->
           <div sclass="container-fluid">
            <div id="carousel1" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel1" data-slide-to="1"></li>
                    <li data-target="#carousel1" data-slide-to="2"></li>
                </ol>
                {%load static%}
                <div class="carousel-inner col-12 col-md-6 offset-md-3">
                    <div id="carrusel" class="carousel-inner" style="border-radius: 10px;">
                        <div class="carousel-item active">
                            <a href="#"> <img src="{% static 'img/banner/banner1.png' %}" class="d-block w-100" width="auto" height="100%" alt="banner1"  /> </a>
                        </div>
                        <div class="carousel-item ">
                            <img src="{% static 'img/banner/banner2.png' %}"  class="d-block w-100" width="auto" height="" alt="banner1" />
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/banner/banner3.png' %}"  class="d-block w-100" width="auto" height="" alt="banner1" />
                        </div>
                </div>

                <!-- botones de desplazamiento a izquierda y derecha -->
                <a class="carousel-control-prev" href="#carousel1" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carousel1" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
        </div><!--fin carrusel-->

        <!--Encabezado-->
        <br><br>
        <!--Tarjetas CAMBIAR TAMANO Y ALINEAR-->
        <div id="temporizador" class="container-fluid">
            <!-- Contador regresivo -->
            <h4 id="h4.temporizador">El invierno comenzará en: </h4>
            <section>
                <p id="temp">
                    <span id="days"></span> : <span id="hours"></span> : <span id="minutes"></span> : <span
                        id="seconds"></span><br>
                        <span id="spantemp"> DIAS </span> <span id="spantemp"> HRS. </span> <span id="spantemp"> MIN. </span> <span id="spantemp"> SEG. </span>
                </p>
            </section>
            <h4 id="h4.temporizador">¡Ya se vienen las flores y plantas de temporada!</h4>


        </div>

        <h1><strong>Nuestra Tienda</strong></h1><br>

        <h3><strong>Plantas</strong></h3><br>
        {% load static %}
        <div class="row">
            <div class="col-md">
                <div class="card text-center">
                    <img class="card-img-top mx-auto" src="{% static 'img/plantas/flor4_orejitas de oso.jpg'%}">
                    <div class="card-body">
                        <h4 class="card-title">Orejitas de oso</h4>
                        <p class="card-text">$5.990 <br></p>
                        <a href="#" class="btn btn-primary col-12" onmouseover="Mover(this)"
                            onmouseout="MoverFuera(this)">Agregar</a>
                    </div>
                </div>
            </div>
            {% load static %}
            <div class="col-md">
                <div class="card text-center">
                    <img class="card-img-top mx-auto" src="{% static 'img/plantas/Cala-en-macetero.jpg'%}">
                    <div class="card-body">
                        <h4 class="card-title">Cala</h4>
                        <p class="card-text">$10.990<br></p>
                        <a href="#" class="btn btn-primary col-12" onmouseover="Mover(this)"
                            onmouseout="MoverFuera(this)">Agregar</a>
                    </div>
                </div>
            </div>
            {% load static %}
            <div class="col-md">
                <div class="card text-center">
                    <img class="card-img-top mx-auto" src="{% static 'img/plantas/flor6.jpg'%}">
                    <div class="card-body">
                        <h4 class="card-title">Tulipán</h4>
                        <p class="card-text">$8.990<br></p>
                        <a href="#" class="btn btn-primary col-12" onmouseover="Mover(this)"
                            onmouseout="MoverFuera(this)">Agregar</a>
                    </div>
                </div>
            </div>

        </div>

        <h3><strong>Herramientas</strong></h3><br>
        {% load static %}
        <div class="row">
            <div class="col-md">
                <div class="card text-center">
                    <img class="card-img-top mx-auto" src="{% static'img/herramientas/regadera2.jpg'%}">
                    <div class="card-body">
                        <h4 class="card-title">Regadera</h4>
                        <p class="card-text">$6.990 <br></p>
                        <a href="#" class="btn btn-primary col-12" onmouseover="Mover(this)"
                            onmouseout="MoverFuera(this)">Agregar</a>
                    </div>
                </div>
            </div>
            {% load static %}
            <div class="col-md">
                <div class="card text-center">
                    <img class="card-img-top mx-auto" src="{% static 'img/herramientas/herramientas2.jpg'%}">
                    <div class="card-body">
                        <h4 class="card-title">Set de Herramientas</h4>
                        <p class="card-text">$15.990 <br></p>
                        <a href="#" class="btn btn-primary col-12" onmouseover="Mover(this)"
                            onmouseout="MoverFuera(this)">Agregar</a>
                    </div>
                </div>
            </div>  
            {% load static %}
            <div class="col-md">
                <div class="card text-center">
                    <img class="card-img-top mx-auto" src="{% static 'core/img/herramientas/guante.jpg'%}">
                    <div class="card-body">
                        <h4 class="card-title">Guantes</h4>
                        <p class="card-text">$3.990<br></p>
                        <a href="#" class="btn btn-primary col-12" onmouseover="Mover(this)"
                            onmouseout="MoverFuera(this)">Agregar</a>
                    </div>
                </div>
            </div>

        </div>
        <h3><strong>Maceteros</strong></h3><br>
        {% load static %}
        <div class="row">
            <div class="col-md">
                <div class="card text-center">
                    <img class="card-img-top mx-auto" src="{%static 'img/Maceteros/macetero3.jpg'%}">
                    <div class="card-body">
                        <h4 class="card-title">Primavera</h4>
                        <p class="card-text">Desde $5.990<br></p>
                        <a href="#" class="btn btn-primary col-12" onmouseover="Mover(this)"
                            onmouseout="MoverFuera(this)">Agregar</a>
                    </div>
                </div>
            </div>
            {% load static %}
            <div class="col-md">
                <div class="card text-center">
                    <img class="card-img-top mx-auto" src="{%static 'img/maceteros/macetero1.jpg'%}">
                    <div class="card-body">
                        <h4 class="card-title">Geometrico</h4>
                        <p class="card-text">Desde $5.990 <br></p>
                        <a href="#" class="btn btn-primary col-12" onmouseover="Mover(this)"
                            onmouseout="MoverFuera(this)">Agregar</a>
                    </div>
                </div>
            </div>
            {% load static %}
            <div class="col-md">
                <div class="card text-center">
                    <img class="card-img-top mx-auto" src="{% static 'img/maceteros/macetero4.jpg'%}">
                    <div class="card-body">
                        <h4 class="card-title">Luxury</h4>
                        <p class="card-text">Desde $8.990 <br></p>
                        <a href="#" class="btn btn-primary col-12" onmouseover="Mover(this)"
                            onmouseout="MoverFuera(this)">Agregar</a>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <footer class="text-center text-lg-start text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block ">
                <span id="spanfooter">Síguenos en nuestras redes sociales:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset">
                    <img src="{% static 'img/facebook.png' %}" style="width: auto; height: 30px"></img>
                </a>
                <a href="" class="me-4 text-reset">
                    <img src="{% static 'img/instagram.png' %}" style="width: auto; height: 30px"></img>
                </a>
                <a href="" class="me-4 text-reset">
                    <img src="{% static 'img/twitter.png' %}" style="width: auto; height: 30px"></img>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 justify-content-center">
                        <!-- Content -->
                        <img src="{% static 'img/logo2.png' %}" class="rounded-circle" style="width: auto; height: 80px "></img>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase text-center fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Plantiful
                        </h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase text-center fw-bold mb-4">
                            Inicio
                        </h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Tienda
                        </h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase text-center fw-bold mb-4">
                            Contacto
                        </h6>
                        <p><img src="{% static 'img/ubicacion.png' %}" style="width: auto; height: 20px"></img> Camino Melipilla 1432,
                            Santiago
                        </p>
                        <p>
                            <img src="{% static 'img/correo.png' %}" style="width: auto; height: 20px"></img>
                            contacto@plantiful.cl
                        </p>
                        <p><img src="{% static 'img/telefono.png' %}" style="width: auto; height: 20px"></img> + 56 9 8327 4639</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div id="copyright" class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            <h6>Camila Guerra - Verónica Torres © 2022 Copyright:</h6>
            <h6><a class="text-reset fw-bold" href="{% url 'index' %}">Plantiful</a></h6>
        </div>
        <!-- Copyright -->

    </footer>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


</body>

</html>